@{
    ViewData["Title"] = "Home Page";
}

<div>
    <input type="text" placeholder="Location"/>
</div>
<div>
    <input type="text" placeholder="From" />
</div>
<div>
    <input type="text" placeholder="To" />
</div>