@{
    ViewData["Title"] = "Home Page";
}


<form id="frmsearch" action="Map/Index" method="post">
    <div><input type="text" id="txtname" name="name" placeholder="Location" /></div>
    <div><input type="text" id="txtfrom" name="from" placeholder="From" /></div>
    <div><input type="text" id="txtto" name="to" placeholder="To" /></div>
    <div><input type="submit" id="btnsearch" value="Search" /></div>
</form>