
@{
    ViewData["Title"] = "Payment";
    
}

<h2>Payment</h2>

<div class="controls">
    <input type="text"  value="" placeholder="Name on card" />
    <br />
    <input type="text" value="" placeholder="Card Number" />
    <br />
    <input type="text" value="" placeholder="Expiry" />
    <br />
    <input type="text" value="" placeholder="CVV" />
    <br />
    <input type="text" value="" placeholder="Address" />
    <br />
    <input type="text" value="" placeholder="Mobile number" />
</div>